html,
body {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

/* CLEAR FIX */

/* ::  more widely adopted for pseudo elements because it provides support for IE8 */

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

/* BEGIN STICKY FOOTER : part 1 of 2 */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* END STICKY FOOTER : part 1 of 2 */

body {
    background-image: url("../images/old-film-dust-and-scratches-bg.jpg");
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

h3 {
    font-family: 'Zilla Slab', serif;
    font-size: 1.8rem;
}

.jumbotron {
    -moz-box-shadow: inset 0 0 40px #000000;
    -webkit-box-shadow: inset 0 0 40px #000000;
    box-shadow: inset 0 0 40px #000000;
    background: url("../images/old-timey-train.jpg") black no-repeat 50% 0%;
    background-size: cover;
    color: #dc3545;
    height: 28em;
    padding: 2rem;
    text-shadow: 1px 2px beige;
}

.jumbotron h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 4rem;
}

.jumbotron h3 {
    font-family: 'Zilla Slab Highlight', cursive;
    background: beige;
    display: inline;
}

.container {
    border-radius: 2em 1em 4em / 0.5em 3em;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    background-color: beige;
    color: black;
    padding: 1rem;
}

/* BEGIN STICKY FOOTER : part 1 of 2 */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    text-align: center;
}

/* END STICKY FOOTER : part 2 of 2 */